// Knockout
Oswald(size = 100%, weight = 700, upcase = true)
  font-family 'Oswald', sans-serif
  font-weight weight
  font-size size
  if upcase
    text-transform uppercase
  else
    text-transform none
    
// Atrament 
Dosis(size = 100%, weight = 500, upcase = true)
  font-family 'Dosis', sans-serif
  font-weight weight
  font-size size
  if upcase
    text-transform uppercase
  else
    text-transform none
        
// Harriet
Playfair(size = 100%, weight = 400, upcase = false)
  font-family 'Playfair Display', serif
  font-weight weight
  font-size size
  if upcase
    text-transform uppercase
  else
    text-transform none