clear()
  &:after
    content ''
    display table
    clear both
    
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
	{prop} args
          
transform()
	vendor('transform', arguments)
  
transition()
	vendor('transition', arguments)
  
  
line(width = 50%, bottom = -1.0rem)
  position relative
  &:after
    background-color black
    bottom bottom
    content ''
    display block
    height .1rem
    left 50%
    margin 0 auto
    margin-left -(width/2)
    position absolute
    width width