clear()
  &:after
    content ''
    display table
    clear both
    
vendor(prop, args)
	{prop} args
          
transform()
	vendor('transform', arguments)
  
transition()
	vendor('transition', arguments)