clear()
  &:after
    content ''
    display table
    clear both
    
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
	{prop} args
          
transform()
	vendor('transform', arguments)
  
transition()
	vendor('transition', arguments)
  
  
line(width = 50%)
  &:after
    background-color black
    border-bottom .1rem solid black
    content ''
    display block
    height 0
    margin 0 auto
    position relative
    width width