@require '_mixin'
@require '_font'

@import '_ease'

white = #fbf9f1
black = #1b1919

mq_mobile = "screen and (max-width: 720px)"
mq_tablet = "screen and (min-width: 720px) and (max-width: 1080px)"
mq_beyond = "screen and (min-width: 1920px)"

html
  box-sizing border-box
  font-size 62.5%

* 
  box-sizing inherit
  margin 0
  outline 0
  padding 0
  
  &:before,
  &:after
    box-sizing inherit
    
a
  color inherit
  cursor pointer

audio,
canvas,
iframe,
img,
svg,
video
  vertical-align middle

.cover
  transition opacity 500ms $easeInOutCubic, visibility 500ms $easeInOutCubic
  background-color black
  height 500%
  position absolute
  top 0
  width 100%
  
.map
  padding-bottom 100%
  width 100%
  
.map-container
  transition opacity 100ms $easeInOutCubic 100ms
  opacity 1
  
.slabtext
  transition opacity 100ms $easeInOutCubic 100ms
  opacity 1

body
  &.resize
    .slabtext,
    .map-container
      opacity 0
  
body
  Playfair()
  background-color white
  color $black
  font-size 1.0em
  overflow-y scroll

  > main  
    font-size 1.6rem
    
    .slick-list

      &.draggable
        cursor -webkit-grab
        cursor grab
        &:active
          cursor -webkit-grabbing
          cursor grabbing

    .page
      min-height 100vh
      position relative
                
      .content
        padding 4.0rem
        
	      header
          margin 1.0rem 0
          text-align justify
          
          h1
            Oswald 6.4rem
            .slabtext
              margin 1.0rem 0
            
        .divider
          border-top .1rem solid black
          border-bottom .1rem solid black
          padding .1rem 0
          
          .inner
            Playfair 1.6rem, 700, true
            border-top .1rem solid black
            border-bottom .3rem solid black
            padding: 1.0rem 0
            text-align center
            text-transform uppercase
            word-spacing .5rem
           
        main
          vendor 'column-count', 3
          vendor 'column-gap', 2.0rem    
           
          margin 1.0rem 0

          @media mq_mobile
            vendor 'column-count', 1
            
          @media mq_tablet
            vendor 'column-count', 2
            
          @media mq_beyond
            vendor 'column-count', 4
          
          > article
            margin 1.0rem 0
            
            > *:first-child
              margin 1.0rem 0
            
            > h2
              Dosis 3.2rem
              
            > h3
              Playfair 2.4rem, 700, false

            > p    
              line-height 1.5
              text-align justify
              text-indent 2.0rem
          

      &.slick-slide        
        .cover
          cursor pointer
          opacity .05
          visibility visible
          &:hover
            opacity .025

      &.slick-center
        .cover
          opacity 0
          visibility hidden